@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/fonts/Roboto-Bold.ttf);
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  position: relative;
  color: hsl(234, 29%, 20%);
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input,
button,
textarea {
  border: none;
  outline: none;
}

body {
  background: hsl(235, 18%, 26%);
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  position: absolute;
  bottom: 10px;
  color: hsl(0, 0%, 100%);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: 2px 3px 20px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 3px 20px -5px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 960px;
  min-height: 450px;
}

.left {
  width: calc(55% - 24px);
  padding-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.left > h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}
.left h2 {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.left ul {
  margin-bottom: 24px;
}
.left li {
  padding-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.left li::before {
  content: url(../assets/images/icon-list.svg);
  margin-right: 12px;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

label {
  font-size: 10px;
  font-weight: 700;
  margin-bottom: 10px;
}

input {
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#email-error {
  position: absolute;
  top: -5px;
  right: -5px;
  font-size: 10px;
  color: red;
  font-weight: 700;
  display: none;
  margin-bottom: 10px;
}

input[type=email] {
  border: 1px solid hsl(231, 7%, 60%);
  padding: 12px;
}

input[type=submit] {
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type=submit]:hover {
  background: hsl(4, 100%, 67%);
  -webkit-box-shadow: 2px 3px 20px -5px hsl(4, 100%, 67%);
          box-shadow: 2px 3px 20px -5px hsl(4, 100%, 67%);
}

.right {
  width: 45%;
  height: 100%;
}

.dialog {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 24px 24px 54px;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
  -webkit-box-shadow: 2px 3px 20px -5px rgba(0, 0, 0, 0.7);
          box-shadow: 2px 3px 20px -5px rgba(0, 0, 0, 0.7);
  width: 450px;
  height: 450px;
}
.dialog-btn {
  background: hsl(234, 29%, 20%);
  color: hsl(0, 0%, 100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 60px;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 8px;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.dialog-btn:hover {
  background: hsl(4, 100%, 67%);
  -webkit-box-shadow: 2px 3px 20px -5px hsl(4, 100%, 67%);
          box-shadow: 2px 3px 20px -5px hsl(4, 100%, 67%);
}
.dialog > h3 {
  font-size: 42px;
  margin-top: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
.dialog > p {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}
.dialog > p > span {
  font-weight: 700;
}

.is-error {
  background: hsla(4, 100%, 67%, 0.3);
  color: hsl(4, 100%, 67%);
}

@media (max-width: 48em) {
  body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  footer {
    display: none;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    border-radius: 0;
    width: 100%;
    height: 100vh;
  }
  .left {
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
  }
  .right {
    width: 100%;
  }
  .dialog {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }
  .dialog-btn {
    position: absolute;
    width: 90%;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}